<div id="modal-loading" class="modal fade">
    <div class="modal-dialog">
        <div class="loader"></div>
        <h1 class="carregando" style="margin-left: -30px;">Carregando...</h1>
    </div>
</div>

@Styles.Render("~/Loading/css")